<mat-grid-list cols="3" rowHeight="100px">

      <mat-grid-tile>
        <Title>Test</Title>
      </mat-grid-tile>

    <form [formGroup]="form">
      <mat-form-field class="form-field" matNativeControl>
        <mat-label>Reps</mat-label>
        <input formControlName="reps" type="number" matInput placeholder="0" value="{{reps.value}}">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Sets</mat-label>
        <input formControlName="sets" type="number" matInput placeholder="0" value="{{sets.value}}">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Weight</mat-label>
        <input formControlName="weight" type="number" matInput placeholder="0" value="{{weight.value}}">
      </mat-form-field>

            <mat-form-field class="form-field">
              <mat-label>Total</mat-label>
              <input formControlName="total" type="number" matInput value="{{total.value}}">
            </mat-form-field>

    </form>
  </mat-grid-list>



